{% extends "blog/base.html" %}
{% block content %}
    {% for movie in movies %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'movie-detail' movie.id%} ">{{ movie.title }}</a></h2>
            <p class="article-content">{{ movie.storyline }}</p>
              <div class="article-metadata">
                 <a class="mr-2">Rating: {{ movie.rating }}</a>
                  <a class="mr-2">Genre: {{ movie.genres }}</a>
                <small>Released: {{ movie.date_added }}</small>
                  <small>Upvotes: {{ movie.upvote }}</small>
                  <small>Downvotes: {{ movie.downvote }}</small>
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}