{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.storyline }}</p>
          <div class="article-metadata">
             <a class="mr-2">Rating: {{ object.rating }}</a>
              <a class="mr-2">Genre: {{ object.genres }}</a>
            <small>Released: {{ object.date_added }}</small>
              <small><a href="{% url 'upvote' object.id %}">upvote: </a>{{ object.upvote }}</small>
              <small><a href="{% url 'downvote' object.id%}">downvote: </a>{{ object.downvote }}</small>
              <small><a href="{% url 'review-list' object.id %}">Reviews</a></small>
              <small><a href="{% url 'review-create' object.id %}">Write Review</a></small>
        </div>
      </div>
    </article>
{% endblock content %}